.departments-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
  }
  
  .departments-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #1d1615;
  }
  
  .departments-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .department-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .department-name {
    margin-top: 20px;
    height: 90px;
    margin: 10px 0;
    width: 300px;
    border-radius: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .department-name:hover {
    transform: scale(1.05);
  }
  
  .department-text {
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 0 40px;
  }
  
  .dropdown-button {
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    width: 60%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
  }
  
  .modal-button {
    padding: 10px 20px;
    margin: 5px 0;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .modal-button:hover {
    background-color: #f0f0f0;
  }
  
  .modal-button-text {
    font-size: 16;
    border-bottom: 1.5px solid black;
    color: #1d1615;
    padding-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .department-name {
      width: 90%;
    }
    
    .modal-content {
      width: 80%;
    }
  }