.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 0 10px;
  position: relative;
}

.logo {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 34px;
  background-color: white;
  border: 3px solid green;
}

.header-text {
  font-size: 20px;
  font-weight: 800;
  color: black;
  flex: 1;
  white-space: pre-line;
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

.icon-container {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.icon-button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Ensure the icon itself is centered */
.icon-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.academia-section {
  margin-top: 70px;
  padding: 0 20px;
}

.academia-text {
  font-size: 14px;
  color: black;
  font-weight: 800;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  line-height: 1.4;
}

.content-view {
  margin-bottom: 30px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.department-button {
  height: 120px;
  width: 150px;
  background-color: yellow;
  margin: 20px 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
}

.department-text {
  font-size: 14px;
  color: black;
  font-weight: 800;
  position: absolute;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.background-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.icon-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}