.password-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .password-input {
    flex: 1;
    font-size: 16px;
    color: #1d1615;
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
  }
  
  .visibility-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
  }
  
  .input-error {
    border-color: red;
  }